
.menu{
//display:inline;
    width: 100%;
    height: 15%;
	
}
.menu ul{
display:inline;
}
.menu li{
    background: rgba(177, 11, 11, 0.71);
   text-align: center;
    text-transform: uppercase;
    color: white;
    float: left;
    width: 24%;
   height: 38px;
    padding-top: 15px;
	border:1px solid;
	font-weight:bold;
	font-size: 20px;
	list-style:none;
	//display:inline;
}

.menu li a{
text-decoration:none;
color:white;
}
.menu li:hover{
background: rgba(177, 11, 11, 0.97);
box-shadow: 0 4px 8px 0 rgba(177, 11, 11, 0.71), 0 6px 20px 0 rgba(177, 11, 11, 0.50);
}
.picture{
height:190px;
}
.picture img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 1260px !important;
    height: 172px !important;
    //padding-left: 44px;
}
.post{
	width: 72%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
	float:left;
	padding-top:5px;
	margin-top: 27px;
	
    }
	.sidebar{
    width: 20%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	float:right;
	margin-top: -393px;
    margin-right: 50px;
    }

.home{
color: #333333;
font-family: Century Gothic, sans-serif;
padding-left:50px;
//padding-right:20px;
}
.index h1{
    padding-left: 19%;
    padding-top: 13%;
}

.index img{
   padding-left: 40%
}

.notFound{
color: #333333;
font-family: Century Gothic, sans-serif;
}
.notFound h1{
    padding-left: 70%;
    padding-top: 13%;
}

.notFound h2{
    padding-left: 36%;
   }
.notFound img{
    float:left;
   }   
   
.button{   
     background: rgba(0, 128, 0, 0.67);
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    text-transform: uppercase;
	font-weight: 800;
	}
.backButton a:hover{   
     background: rgba(0, 128, 0, 0.52);
	
	}
	
.backButton{
	padding-left: 67%;
    padding-top: 32px;
	font-weight:100px;
}

.searchResults{
display:none;
width: 72%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
	float:left;
	padding-top:5px;
	margin-top: 27px;
}